
$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);
$color-red:rgb(170, 30, 30);
$color-sea:rgb(71, 165, 212);

// test z notatką
$color-tape: rgb(190, 187, 158);
$color-tape-edge: rgb(141, 140, 127);
$color-transparent: rgba(51, 27, 30, 0);;
$color-paper-shadow: rgb(117, 117, 117);
$color-paper:rgba(243, 239, 233,.5) ;
$color-paper-dark: rgba(189, 178, 162,.8);
$tape-position:-1.5vmin;


























