.bag{
    @include popup-behavior;
    
        &__content{
           width:45%;
           height:80%;
           transform: translateX(-60%) translateY(-30%) scale(.2);
            @include content-behavior;
           background:url(../img/bag-popup.png)no-repeat center center/contain;
           position:relative;
           @include flex-column;
        }
        @include target;
        // zachowanie samej przestrzeni na itemki
        &__container{
            width:80%;
            height:80%;
            padding:2vmin;
        }
        // zachowanie każdego diva na item i jego absolutne położenie
        &__item{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding:.4vmin;
            position:absolute;
            transition: all .8s;
            background:url(../img/bag-elipse.png)no-repeat center center/contain;
            width:20vmin;
            height:20vmin;
    
            &--1{
                top:20%;
                left:29%;
            }
            &--2{
                top:48%;
                left:25%;
            }
            &--3{
                top:35%;
                left:54%;
            }
            &--4{
                top:68%;
                left:45%;
            }

            &:hover .bag__tooltip{
                @include visible;
            }
    
        }

        
        &:target .bag__item--1{
            animation:wobbleLeft .7s .5s backwards ease-out ;
        }
        &:target .bag__item--2{
            animation:wobbleLeft .7s 1s backwards ease-out ;
        }
        &:target .bag__item--3{
            animation:wobbleLeft .7s 1.5s backwards ease-out ;
        }
        &:target .bag__item--4{
            animation:wobbleLeft .7s 2s backwards ease-out ;
        }
        // wielkość samego img
        &__img{
           height:12vmin;
           margin:auto;
        }   
    }