@keyframes wobbleLeft {
    0% {
        opacity: 0;
        transform: translateX(12vmin);
    }

    70% {
        transform: translateX(-2vmin);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(20vmin);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(-20vmin);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes growRight{

    0%{
        opacity:0;
        width:0%;
    }
    100%{
        opacity:1;
        width:100%

    }
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($color-red, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 .5vmin $color-transparent;
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $color-transparent;
    }
  }
  
  @keyframes load {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%{
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%{
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    40% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    60% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
      }
    95%{
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
 
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }