.form__container{
    @include flex-column;
    width:45%;
    height:90%;
    position:Absolute;
    @include center-position;
    font-family:'Kingthings Petrock';
    background:rgba($color-white,.8);
    border-radius: 5%;
    box-shadow: .2vmin .2vmin .4vmin $color-paper-dark;
}
.form__group{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.input__team-name{
    font-family:'Caveat-Regular';
    font-size: 3vmin;
    color:$color-red;
    border-radius: 5%;
    border:none;
    border-bottom:2px double rgba($color-red, .7);
    background:none;
    padding:.4vmin;
    display:block;
    width:50%;
    height:3vmin;
    box-shadow: 0vmin .5vmin .4vmin $color-paper-dark;



}